.container{
	overflow:hidden;
	background: #f6f6ef;
	justify-content: center;
	width:100%;
	padding: 0;
}

.navbar{
	background-color: orange !important;
	font-size: 0.9rem;
	height:auto;
	font-weight: 500;
	letter-spacing: .05rem;
	display: flex;
	margin:auto;
}
.navbar-nav{
	width: 100%;
}
.navbar-nav, .nav-item .nav-link{
	color:#555;
	background-color: white;
}

#login {
	margin-left: 1000%;
	margin-top: 0px;
	color:#555;
}

.nav-item.active, .nav-link:hover, .nav-link-login:hover{
	color: #000;
	text-decoration:none;
}


.headline{
	font-size: 0.8rem;
	color:#000;
	font-family: sans-serif;
	margin-top: 0;
	text-decoration: none;
}
.headline:hover{
	text-decoration: none;
	color:#000;
}
.news_details{
	color:#828282;
	font-size:0.8rem;

}
.news_link{
	color:#828282;

}
.news_section{
	width: 100%;
	margin:80px auto 0 auto;

}
p {
	font-size: 0.8rem;
	margin-top: 0;
}
.row{
	margin-bottom: 50px;
}
.news_details:hover{
	color:#828282;
	text-decoration: underline;
}
footer a{
	font-size: 0.9rem;
	color: orange;
}
.form-group{
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}
#search_text{
	margin-right: 10px;
	color: #828282;
}


@media screen and (max-width: 1200px){
	#login {
	margin-left: 800%;
	margin-top: 0px;
	color:#555;
}
.navbar{
	background-color: orange !important;
	font-size: 0.9rem;
	height: 3rem;
	letter-spacing: 0rem;
	margin:auto;
}
}

@media screen and (max-width: 992px){
	#login{
		margin-left: 100%;
	}
	.navbar{
	background-color: orange !important;
	font-size: 0.9rem;
	height: 3rem;
	letter-spacing: 0rem;
	margin:auto;
}
}
@media screen and (max-width: 768px){
	#login{
		margin-left: 100%;
	}
	.navbar{
	background-color: orange !important;
	font-size: .8rem;
	height: 3rem;
	letter-spacing: 0rem;
	margin:auto;
	
}
}

@media screen and (max-width: 576px){
		.navbar{
	background-color: orange !important;
	font-size: 1rem;
	height: 3rem;
	margin:1px;
	padding-left:5px;

}


.nav-link {
	float:right;
	margin-right: 20px;
}

.navbar-nav li{
	margin: 1px;
	padding: 1px;
	text-align: left;
}
#first-post{
	margin-top: 120px;
}
.post {
	margin:0;
	padding: 0px 30px 0px 30px;
}
.row{
	margin-top:-20px!important;
}
.headline{
	margin-top: 40px;
}
footer{
	margin-top: -50px;
	padding: 0px 10px 0px 10px;
}
}
