@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/*HOME STYLE*/
*{
	margin:0;
	padding:0;
	font-family: 'Montserrat';

}
body{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	//overflow-x: hidden;
}
.container{
	width: 80%;
}
.container-fluid{
	width:	100%;
}
.navbar {
	width:100%;
	margin:auto;
  font-weight: 900;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  background-color: #2f3542!important;
  opacity: .8;
 // background: rgba(0,0,0, 0.6)!important;
}
.navbar-brand img{
  height:3rem;
  margin-right: 24px;
  border-radius: 50%;
}
.navbar-brand{

	color:#f1f2f6;
}
.navbar-brand:hover{
	color:#a4b0be!important;
}

.navbar-nav li {
  padding-right: .7rem;
  
}
.navbrand h3 {
	color: #f1f2f6!important;
	margin-top: 10px;
	margin-left: -15px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #f1f2f6!important;
  padding-top: 0.8rem;
}
.navbar-dark .nav-item .nav-link:hover{
	color:#a4b0be!important;
}
.navbar-dark .nav-item .nav-link:active{
	color:#57606f!important;
}
/*Slider Images*/


.carousel-item{

  height:100vh;
}
.carousel-item img{
	width: 100%;
	height: 100vh;
}
.overlay{
	background-color:#000;
}
.image1{
	opacity:.4;
}
.carousel-caption{
  position:absolute;
  top: 38%;
  text-transform: uppercase;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;

}
.carousel-caption h1{
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  margin-top: -60px;

}
.carousel-caption h3{
  font-family: 'Montserrat';
  font-size: 1.8rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
  margin-bottom: 80px;
}
#carousel4caption h3{
	position: relative;
	bottom: 150px;
}
#carousel4caption a{
	margin-top: 80px;
}
#getapup{
	padding: 10px;
	font-size: 24px;
}
.image{
	display:flex;
}
.background img{
	//filter: blur(3px) ;
	opacity: .3;
	transform: scale(.8);
	position:absolute;
	margin-left: 60%;
	margin-top: 60px;

}
.background .image img:nth-child(even){
	margin-top: 40%;
	margin-left: -5%;
}

.trans{
	position:relative;
	margin: 40px 120px 60px 120px;
}
.trans h1{
	//font-size: 2rem;
}
.trans p{
	line-height: 1.8;
	font-weight: normal;
	font-size: 16px;
}
.funfacts {
	margin-top:20px;
}
.funfacts li{
	margin-top: 20px;
}
.col-md-3 img{
	width: 100%;
	height: 100%;
}

footer{
	margin: 6rem auto 0;
	width: 100%;
	padding: 2rem 2rem;
	background-color: #2f3542;
	color:#f1f2f6;
}
footer #logo{
	margin-bottom:1rem;
	margin-right:1rem;
	border-radius: 50%;
}
footer .footer-logo{
	display:flex;
	justify-content: center;
}
.social a{
	font-size: 2.4rem;
	margin: .5rem;
}
.fa-facebook{
  color: #3b5998;
}
.fa-twitter{
  color: #00aced;
}
.fa-phone{
  color: green;
}
.fa-instagram {
  color: #517fa4;
}
.fa-whatsapp{
	color:#25d366;
}

/*ABOUT HTML*/

#about_main{
	margin-top: 120px;
}
#flow-profile{
	display:flex;
}
#flow-profile img{
	margin-right: 30px;
	width:100px;
	height: 100px;

}

iframe{
	width: 100%;
	height: 400px;
}
/*Media Queries*/

@media screen and (max-width: 576px){

.navbrand h3 {
	display:none;
	color: #f1f2f6!important;
	margin-top: 10px;
	margin-left: -15px;
}

.carousel-item{
	//margin-top:4rem;
  height:70vh;
}
.carousel-item img{
	width: 100%;
	height: 70vh;
}

.carousel-caption{
  position:absolute;
  top: 10%;
  text-transform: uppercase;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;

}

.carousel-caption h1{
  font-family: 'Montserrat';

  letter-spacing: 0.1rem;
  font-weight: lighter;
  font-size: 1.5rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
  margin-top: 50px;
  margin-bottom: 60px;
}
#carousel4caption h3{
	font-size: 1.5rem;
	position: relative;
	top:20px;
}
#carousel4caption a{
	font-size: 14px;
	margin-top: 120px;
}
.trans{
	position:relative;
	margin: 40px 30px 60px 40px;
}
.trans p{
	line-height: 1.8;

}

	#funfactsimage img{
		display:none;
	}

	.footer-logo {
		display: block!important;
	}


	#flow-profile{
		display:block;
	}
	#flow-profile img{
		display:block;
		margin: 0 auto 30px auto;
		border-radius: 50%;
		width:120px;
		height: 120px;

	}
	#flow-profile p{
		margin:auto;
		text-align:center;
	}
}

@media screen and (max-width: 480px){

.carousel-item{
	margin-top:4.2rem;
    height:70vh;
}
.carousel-item img{
	width: 100%;
	height: 70vh;
}

.carousel-caption{
  position:absolute;
  top: -2%;
  text-transform: uppercase;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;

}
.carousel-caption h1{
  font-family: 'Montserrat';
  letter-spacing: 0.1rem;
  font-weight: lighter;
  font-size: 1.2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
  margin-top: 60px;
  margin-bottom: 100px;
}
.carousel-caption a{
	font-size: .8rem;
}
#carousel4caption h3{
	font-size: 1.5rem;
	position: relative;
	top:40px;
}
#carousel4caption a{
	margin-top: 100px;
	word-wrap: break-word;
	
}
#getapup{
	padding: 10px;
	font-size: 14px;
}
}

@media screen and (max-width: 375px){

.carousel-item{
	margin-top:4.2rem;
    height:60vh;
}
.carousel-item img{
	width: 100%;
	height: 60vh;
}

.carousel-caption{
  position:absolute;
  top: -2%;
  text-transform: uppercase;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;

}
.carousel-caption h1{
  font-family: 'Montserrat';
  letter-spacing: 0.1rem;
  font-weight: lighter;
  font-size: 1.2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
  margin: 20px auto 80px auto;
}
.carousel-caption a{
	font-size: .8rem;
}
#carousel4caption h3{
	font-size: 1rem;
	position: relative;
	top:20px;
}
#carousel4caption a{
	margin-top: 120px;
	word-wrap: break-word;
	font-size:12px;
}
#getapup{
	padding: 5px;
	font-size: 12px;
}
}